{% extends "core/layouts/base.html" %}
{% block content %}
<div class="row justify-content-center">
<div class="col-sm-5">
<div class="card mb-4 box-shadow">
<div class="card-body">
<h2 class="card-title">Register</h2>
<form method="post">
{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}

{% for field in form %}
    {% if field.field.is_checkbox %}
    <div class="form-group">
    <label>{{ field }} I agree to the <a href='/terms-of-service'>terms of service</a>
    </div>
    {% else %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endif %}
{% endfor %}

<button type="submit"  class="btn btn-primary">Submit</button>
</div>
{% csrf_token %}

</form>

</div>
</div>
</div>
</div>
{% endblock %}
