{% extends "core/layouts/base.html" %}
{% block content %}
<div class="row justify-content-center">
<div class="card mb-4 box-shadow">
<div class="card-body">

<h2 class="card-title">Profile</h2>
<form method="post">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message|escape }} </li>
        {% endfor %}
    </ul>
{% endif %}

{% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}

        {% if field.errors %}
            {% for error in field.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}

<button type="submit"  class="btn btn-primary">Submit</button>
</div>
{% csrf_token %}
</form>

</div>
</div>

</div>
{% endblock %}
